<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Проблема при загрузке</title>
      <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css" media="all"/>
  </head>
  <body>
  <h2>Проблема при загрузке изображения</h2>
    <p>Скорее всего, это связано с тем, что расширение выбранного вами изображени не поддерживается.</p>
    <p/>
    <p>Поддерживаемые расширения: .gif, .bmp, .jpeg(.jpg), .png. </p>
    <p>Вы можете попробовать загрузить другое изображение.</p>
    <p><a href="localhost:7070/gallery/"> Перейти на страницу галереи </a></p>
  </body>

</html>
